@use 'util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: var(--font-rubik);
  background: var(--bg-body);
  color: var(--white);
  min-height: 100vh;
  background-image: url("../../../image/desktop_BG.svg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: local;
}
