@use 'util' as *;

.arrow {
  position: absolute;
  left: rem(1400);
  top: rem(620);
  animation: rotation 5s infinite linear;

  @include breakpoint-down(xlarge) {
    left: rem(1020);
    top: rem(550);
  }

  @include breakpoint-down(large) {
    left: rem(640);
    top: rem(480);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.vector {
  position: absolute;
  left: rem(1325);
  top: rem(500);

  @include breakpoint-down(xlarge) {
    left: rem(945);
    top: rem(425);
  }

  @include breakpoint-down(large) {
    left: rem(565);
    top: rem(350);
  }
}
