@use 'util' as *;

.button {
  position: absolute;
  left: rem(1260);
  top: rem(625);

  @include breakpoint-down(xlarge) {
    left: rem(960);
  }

  @include breakpoint-down(large) {
    left: rem(690);
  }
}
