@use 'util' as *;

.card {
  margin-top: rem(40);

  //sizes

  &_left,
  &_mid,
  &_right {
    position: relative;
    height: rem(700);
    width: rem(500);
    background: var(--bg-section);
  }

  //1440px background sizes

  @include breakpoint-down(xlarge) {
    &_left,
    &_mid,
    &_right {
      height: rem(600);
      width: rem(400);
    }
  }

  //individual margins
  &_left {
    margin-top: rem(-60);
  }

  &_mid {
    margin-top: rem(-40);
  }

  &_right {
    margin-top: rem(-40);
  }

  //individual margins image
  &_mt--left {
    margin-top: rem(40);
  }

  &_mt--mid {
    margin-top: rem(20);
  }

  &_mt--right {
    margin-top: rem(40);
  }

  //1440px sizes image
  @include breakpoint-down(xlarge) {
    &_mt--left,
    &_mt--mid,
    &_mt--right {
      max-width: 60%;
      height: auto;
    }
  }
}

.triangle {
  position: absolute;

  &_left {
    top: rem(220);
    width: 115%;
    height: auto;
  }

  &_mid {
    top: rem(248);
    left: rem(-45);
  }

  &_right {
    width: 120%;
    height: auto;
    top: rem(170);
    left: rem(-5);
  }

  //1440px triangle
  @include breakpoint-down(xlarge) {
    &_left {
      top: rem(190);
      width: 120%;
      height: auto;
    }

    &_mid {
      top: rem(225);
      left: rem(-95);
      width: 119%;
      height: auto;
    }

    &_right {
      width: 127%;
      height: auto;
      top: rem(150);
      left: rem(-35);
    }
  }
}
