@use 'util' as *;

.wrapper {
  width: rem(1744);
  margin-top: rem(50);
  margin-bottom: rem(30);

  @include breakpoint-down(xlarge) {
    width: rem(1328);
  }

  @include breakpoint-down(large) {
    width: rem(980);
  }
}

.hero {
  display: block;
}

.section_One {
  margin-top: rem(300);
}

.section_Two {
  margin-top: rem(200);
}

.last_Section {
  margin-top: rem(150);
}

.right {
  position: absolute;
  left: 69.37%;
  top: 175%;

  @include breakpoint-down(xlarge) {
    left: 65.37%;
    top: 182%;
  }

  @include breakpoint-down(large) {
    left: 61.37%;
    top: 189%;
  }
}

.mid {
  position: absolute;
  left: 41.8125rem;
  top: 96.9375rem;

  @include breakpoint-down(xlarge) {
    left: rem(445);
    top: rem(1451);
  }

  // @include breakpoint-down(large) {
  //   left: rem(420);
  //   top: rem(1200);
  // }
}

.left {
  position: absolute;
  left: 7.5rem;
  top: 92.5rem;

  @include breakpoint-down(xlarge) {
    left: rem(35);
    top: rem(1380);
  }
}

.rectangle {
  width: rem(1665);
  height: rem(830);
  background-color: var(--bg-section);

  @include breakpoint-down(large) {
    width: rem(1000);
    height: rem(500);
  }
}

.links {
  margin-top: rem(30);
}
