@use 'util' as *;

.wrapper {
  width: rem(1744);
  margin-top: rem(50);
  margin-bottom: rem(30);

  @include breakpoint-down(xlarge) {
    width: rem(1328);
  }

  @include breakpoint-down(large) {
    width: rem(980);
  }
}

.hero {
  display: block;
}

.section_One {
  margin-top: rem(300);
}

.section_Two {
  margin-top: rem(200);
}

.last_Section {
  margin-top: rem(150);
}

.rectangle {
  width: rem(1665);
  height: rem(830);
  background-color: var(--bg-section);

  @include breakpoint-down(large) {
    width: rem(1000);
    height: rem(500);
  }
}

.links {
  margin-top: rem(30);
}
