@use 'util' as *;

//body wrapper
.wrapper {
  width: 92%;
  margin-top: rem(50);
  margin-bottom: rem(30);

  @include breakpoint-down(xlarge) {
    width: rem(1328);
  }

  @include breakpoint-down(large) {
    width: rem(980);
  }
}

//margin for sections
.section_One {
  margin-top: rem(300);
}

.section_Two {
  margin-top: rem(200);
}

.last_Section {
  margin-top: rem(150);
}
